In [9]:
!unzip '/content/drive/My Drive/ML_Artivatic_dataset.zip'

Archive:  /content/drive/My Drive/ML_Artivatic_dataset.zip
   creating: ML_Artivatic_dataset/
  inflating: ML_Artivatic_dataset/sample_submission.csv
  inflating: ML_Artivatic_dataset/test_indessa.csv
  inflating: ML_Artivatic_dataset/train_indessa.csv

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
train=pd.read_csv('/content/ML_Artivatic_dataset/train_indessa.csv')

In [12]:
test=pd.read_csv('/content/ML_Artivatic_dataset/test_indessa.csv')

In [13]:
train.head()

   member_id  loan_amnt  ...  total_rev_hi_lim  loan_status
0   58189336      14350  ...           30800.0            0
1   70011223       4800  ...           32900.0            0
2   70255675      10000  ...           34900.0            0
3    1893936      15000  ...           24700.0            0
4    7652106      16000  ...           47033.0            0

[5 rows x 45 columns]

In [14]:
train['source']='train'
test['source']='test'

In [15]:
train.shape,test.shape

((532428, 46), (354951, 45))

In [16]:
combined=pd.concat([train,test],ignore_index=True)

In [17]:
df=combined.copy()

In [18]:
def missing(df):
    missing_number=df.isnull().sum()
    missing_percent=100*df.isnull().sum()/len(df)
    missing_table=pd.concat([missing_number,missing_percent],axis=1) 
    missing_table=missing_table.rename(columns={0:'missing_value',1:'percent_missing'})
    missing_table=missing_table[missing_table.iloc[:,1]!=0].sort_values('percent_missing',ascending=False)
    return missing_table

In [19]:
missing(df)

                             missing_value  percent_missing
verification_status_joint           886868        99.942415
desc                                761599        85.825673
mths_since_last_record              750326        84.555303
mths_since_last_major_derog         665676        75.015974
mths_since_last_delinq              454312        51.197065
loan_status                         354951        39.999932
batch_enrolled                      130748        14.734178
tot_coll_amt                         70276         7.919502
tot_cur_bal                          70276         7.919502
total_rev_hi_lim                     70276         7.919502
emp_title                            51462         5.799326
emp_length                           44825         5.051393
revol_util                             502         0.056571
title                                  152         0.017129
collections_12_mths_ex_med             145         0.016340
inq_last_6mths                          29         0.003268
delinq_2yrs                             29         0.003268
open_acc                                29         0.003268
total_acc                               29         0.003268
acc_now_delinq                          29         0.003268
pub_rec                                 29         0.003268
annual_inc                               4         0.000451

In [20]:
df['diff_funds']=df.funded_amnt-df.funded_amnt_inv

In [21]:
df['diff_loan_funds']=df.loan_amnt-(df.funded_amnt+df.funded_amnt_inv)/2

In [22]:
df.batch_enrolled[~df.batch_enrolled.isna()]=1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df.batch_enrolled[df.batch_enrolled.isna()]=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df.batch_enrolled.value_counts()

1    756631
0    130748
Name: batch_enrolled, dtype: int64

In [25]:
df.rename(columns={'batch_enrolled':'is_enrolled'},inplace=True)

In [26]:
df.emp_title.value_counts()

Teacher                            13807
Manager                            11638
Registered Nurse                    5691
Owner                               5512
RN                                  5491
                                   ...
Microsystems, Inc                      1
logisticize llc                        1
Head of Industry                       1
VP,  Banking Center Manager III        1
Registered Client Assoc                1
Name: emp_title, Length: 289206, dtype: int64

In [27]:
df.drop(columns=['verification_status_joint','desc','mths_since_last_record','mths_since_last_major_derog','emp_title'],
        inplace=True)

In [28]:
df.mths_since_last_delinq[~df.mths_since_last_delinq.isna()]=1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
df.mths_since_last_delinq[df.mths_since_last_delinq.isna()]=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df.mths_since_last_delinq.value_counts()

0.0    454312
1.0    433067
Name: mths_since_last_delinq, dtype: int64

In [31]:
df.rename(columns={'mths_since_last_delinq':'mths_since_last_delinq_missing'},inplace=True)

In [32]:
def impute(df):
    for col in df.columns:
        if(df[col].isnull().sum()>0):
            if(df[col].dtype=='object'):
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)

In [33]:
impute(df)

In [34]:
df.isnull().sum()

member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
is_enrolled                       0
int_rate                          0
grade                             0
sub_grade                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
pymnt_plan                        0
purpose                           0
title                             0
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
inq_last_6mths                    0
mths_since_last_delinq_missing    0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                        0
total_acc                         0
initial_list_status               0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
collections_12_mths_ex_med        0
application_type                  0
last_week_pay                     0
acc_now_delinq                    0
tot_coll_amt                      0
tot_cur_bal                       0
total_rev_hi_lim                  0
loan_status                       0
source                            0
diff_funds                        0
diff_loan_funds                   0
dtype: int64

In [35]:
df.corr()

                                member_id  ...  diff_loan_funds
member_id                        1.000000  ...        -0.098868
loan_amnt                        0.064461  ...         0.034028
funded_amnt                      0.066754  ...         0.003624
funded_amnt_inv                  0.072308  ...        -0.038226
int_rate                        -0.142205  ...        -0.003294
annual_inc                       0.034146  ...         0.014283
dti                              0.067824  ...        -0.018628
delinq_2yrs                      0.049902  ...        -0.010872
inq_last_6mths                  -0.127252  ...         0.051238
mths_since_last_delinq_missing   0.069499  ...        -0.004764
open_acc                         0.088835  ...        -0.015618
pub_rec                          0.080785  ...        -0.016744
revol_bal                        0.036416  ...         0.018957
revol_util                      -0.054854  ...        -0.016577
total_acc                        0.031691  ...        -0.001116
total_rec_int                   -0.461098  ...         0.044000
total_rec_late_fee              -0.076388  ...         0.036529
recoveries                      -0.114473  ...         0.027791
collection_recovery_fee         -0.072818  ...         0.029784
collections_12_mths_ex_med       0.051437  ...        -0.007253
acc_now_delinq                   0.016961  ...        -0.003934
tot_coll_amt                     0.003910  ...        -0.000026
tot_cur_bal                      0.007286  ...         0.001037
total_rev_hi_lim                 0.044331  ...         0.000862
loan_status                     -0.379489  ...         0.060619
diff_funds                      -0.089949  ...         0.666122
diff_loan_funds                 -0.098868  ...         1.000000

[27 rows x 27 columns]

In [36]:
df.drop(columns=['funded_amnt','funded_amnt_inv','total_rev_hi_lim'],inplace=True)

In [37]:
df.shape

(887379, 40)

In [38]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [39]:
df.drop(columns=['last_week_pay', 'title', 'zip_code', 'addr_state','sub_grade'],inplace=True)

In [40]:
df.is_enrolled=df.is_enrolled.astype(str).astype(int)

In [41]:
df.select_dtypes(include='object').columns

Index(['term', 'grade', 'emp_length', 'home_ownership', 'verification_status',
       'pymnt_plan', 'purpose', 'initial_list_status', 'application_type',
       'source'],
      dtype='object')

In [42]:
encod_col=['term', 'grade', 'emp_length', 'home_ownership', 'verification_status',
       'pymnt_plan', 'purpose', 'initial_list_status', 'application_type']

In [43]:
for col in encod_col:
    df[col]=le.fit_transform(df[col])

In [44]:
df=pd.get_dummies(df,columns=['term', 'grade', 'emp_length', 'home_ownership', 'verification_status',
       'pymnt_plan', 'purpose', 'initial_list_status', 'application_type'],drop_first=True)

In [45]:
df.shape

(887379, 66)

In [46]:
train_df,test_df=df[df.source=='train'],df[df.source=='test']

In [47]:
test_df.drop(columns=['source','loan_status'],inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [48]:
train_df.drop(columns=['source','member_id'],inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x,y=train_df.loc[:,train_df.columns!='loan_status'],train_df.loc[:,'loan_status']

In [51]:
x.shape,y.shape

((532428, 63), (532428,))

In [52]:
x_train,x_val,y_train,y_val=train_test_split(x,y, test_size = 0.05, random_state = 42)

In [53]:
print(x_train.shape,y_train.shape,x_val.shape,y_val.shape)

(505806, 63) (505806,) (26622, 63) (26622,)

In [54]:
for col in x.columns:
    if(x[col].dtype=='object'):
        print(col)

In [55]:
from xgboost.sklearn import XGBClassifier
import xgboost as xgb   
from sklearn.model_selection import RandomizedSearchCV 
from sklearn.metrics import roc_auc_score

In [76]:
def model_train(clf,x_train,y_train,x_val,y_val):
    xgbtrain=xgb.DMatrix(x_train.values, label=y_train.values)
    xgbparams=clf.get_xgb_params()
    cv=xgb.cv(xgbparams,xgbtrain,num_boost_round=600,nfold=5,metrics='auc',early_stopping_rounds=30,seed=123)
    clf.set_params(n_estimators=cv.shape[0])
    clf.fit(x_train,y_train)
    pred=clf.predict(x_val)
    print(cv.head())
    print(roc_auc_score(y_val,pred))
    print(cv.shape[0])

In [77]:
xgb1 = XGBClassifier(learning_rate =0.1,n_estimators=1000,max_depth=5,min_child_weight=1,gamma=0,subsample=0.8,
                      colsample_bytree=0.8,objective= 'binary:logistic',nthread=4,scale_pos_weight=1,seed=27,
                      tree_method='gpu_hist')

In [78]:
model_train(xgb1,x_train,y_train,x_val,y_val)

   train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0        0.746451       0.000560       0.745709      0.001613
1        0.753496       0.000444       0.752699      0.001685
2        0.757437       0.000422       0.756506      0.001624
3        0.765770       0.000647       0.764787      0.001721
4        0.766603       0.000488       0.765534      0.001405
0.7586396510670143
600

In [91]:
xgb2=XGBClassifier(learning_rate =0.5,n_estimators=800,max_depth=5,min_child_weight=1,gamma=0,subsample=0.8,
                      colsample_bytree=0.8,objective= 'binary:logistic',nthread=4,scale_pos_weight=1,seed=27,
                      tree_method='gpu_hist')

In [92]:
model_train(xgb2,x_train,y_train,x_val,y_val)

   train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0        0.746451       0.000560       0.745709      0.001613
1        0.762216       0.002363       0.761445      0.001693
2        0.771063       0.001842       0.769917      0.001283
3        0.777009       0.001643       0.775639      0.001445
4        0.780923       0.001367       0.779358      0.001334
0.7796991423240631
290

In [103]:
new_test=test_df.copy()

In [104]:
new_test.drop('member_id',axis=1,inplace=True)

In [106]:
xgb2.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0,
              learning_rate=0.6, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=600, n_jobs=1,
              nthread=4, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
              silent=None, subsample=0.8, tree_method='gpu_hist', verbosity=1)

In [107]:
pred_prob=xgb2.predict_proba(new_test)[:,1]

In [112]:
pd.DataFrame({'member_id':test_df.member_id,'loan_status':pred_prob}).set_index('member_id').to_csv('submission.csv',header=False)